body {
  height: 100vh;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  background-color: aliceblue;
}
.contenedor{
  margin-top: 15%;
  margin-left: 45%;
  
}
span {
  font-size: 400%;
  background-color: #00bb00;
  padding: 2px 12px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 4px;
  color: white;
}
button {
  font-size: 400%;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}